body{
  background-color: #F8F9FA;
  color: #343A40;
}

.primary-bg{
  background-color: #F8F9FA;
}

.primary-text{
  color: #343A40;
}

.secoundary-bg{
  background-color: #343A40;
}

.secoundary-text{
  color: #F8F9FA;
}

.container-flex{
  display: flex;
}

.horz-center{
  justify-content: center;
}

.vert-center{
  align-items: center;
}

.flex-vertical{
  flex-direction: column;
}

.full-height{
  height: 100vh;
}

.container-equal-division{
  flex-grow: 1;
}